.container {
    background-color: rgba(19, 19, 102, 0.247);
    padding: 16px;
    max-height: 500px;
    overflow-y: scroll;
    display: block;
}

.time {
    font-size: 4rem;
    font-weight: 600;
}

.greeting {
    font-size: 2rem;
    font-weight: 400;
}

:host {
    --sds-c-tabs-list-color-border: black;
    --sds-c-tabs-item-color-border-active: rgb(150, 219, 21);
    --sds-c-tabs-item-color-border-hover: green;
    --sds-c-tabs-item-text-color: rgb(25, 203, 235);
    --sds-c-tabs-item-text-color-active: rgb(34, 11, 240);
}